{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="food-detail-container">
    <h2>Beslenme Noktası Detayı</h2>
    <p><b>Konum:</b> {{ food.location }}</p>
    <p><b>Raporlayan:</b> {{ food.reported_by.username }}</p>
    <p><b>Durum:</b> {{ food.get_status_display }}</p>
    <p><b>Bildirilen Zaman:</b> {{ food.reported_at|date:'d.m.Y, H:i' }}</p>
    {% if food.description %}
        <p><b>Açıklama:</b> {{ food.description }}</p>
    {% endif %}
    {% if food.photo %}
        <div class="food-detail-img-wrapper">
            <img src="{{ food.photo.url }}" class="food-detail-img">
        </div>
    {% endif %}
    <p><b>Koordinat:</b> ({{ food.latitude }}, {{ food.longitude }})</p>
    <a href="{% url 'gorev_noktalari' %}" class="btn btn-primary food-detail-btn">Geri Dön</a>
</div>
{% endblock %}
