{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="profile-section profile-section-narrow">
    
    <h1>Profil</h1>
    <div class="profile-info">
        
        <div class="profile-details profile-details-bordered">
            <p><b>Kullanıcı Adı:</b> {{ user.username }}</p>
            <p><b>E-posta:</b> {{ user.email }}</p>
            <p><b>Kullanıcı Tipi:</b> {{ profile.get_user_type_display }}</p>
            <p><b>Üyelik Tarihi:</b> {{ profile.join_date|date:'d-m-Y' }}</p>
            <div class="btn-change-password">
                <a href="{% url 'sifre_degistir' %}" class="btn btn-main">Şifre Değiştir</a>
            </div>
             <div class="profile-export-btn">
                <a href="{% url 'export_tasks' %}" class="btn btn-main">Görevleri Dışa Aktar</a>
            </div>
        </div>
        
        {% if profile and profile.user_type == 'gonullu' %}
        <div class="profile-badges profile-badges-bordered">
            <p><b>Kazanılan Rozetler:</b></p>
            {% if user_badges %}
                <div class="badges-container">
                    {% for ub in user_badges %}
                        <div class="badge-card badge-card-bordered">
                            {% if ub.badge.icon %}
                                <img src="{% static ub.badge.icon %} " alt="{{ ub.badge.name }}" class="badge-img badge-img-large"
                                     onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                                <div class="badge-card-empty">
                                    {{ ub.badge.name|slice:":1" }}
                                </div>
                            {% else %}
                                <div class="badge-card-empty">
                                    {{ ub.badge.name|slice:":1" }}
                                </div>
                            {% endif %}
                            <p class="badge-card-title"><strong>{{ ub.badge.name }}</strong></p>
                            <small class="badge-card-date">
                                {{ ub.awarded_at|date:"d.m.Y H:i" }}
                            </small>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="badge-card-empty-text">Henüz hiçbir rozet kazanmadınız.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
